/*
================
Global Color
================
*/
:root {

  --color-cobalt-100: #EBF5FF;
  --color-cobalt-200: #C7E3FF;
  --color-cobalt-300: #8DC1FC;
  --color-cobalt-400: #5A9AFA;
  --color-cobalt-500: #3B70F5;
  --color-cobalt-600: #2745C2;
  --color-cobalt-700: #1C2A8A;
  --color-cobalt-800: #141D66;
  --color-cobalt-900: #141546;
  --color-cobalt-1000: #0E0E33;
  --color-accent-cobalt: #3377FF;

  --color-red-100: #FFF0E8;
  --color-red-200: #FEDFD5;
  --color-red-300: #FFBCAD;
  --color-red-400: #FA7A64;
  --color-red-500: #E54A32;
  --color-red-600: #B83525;
  --color-red-700: #822824;
  --color-red-800: #592728;
  --color-red-900: #402629;
  --color-red-1000: #2B2123;
  --color-red-accent: #FF6047;
  
	--color-orange-100: #FFF2E8;
  --color-orange-200: #FFE4D1;
  --color-orange-300: #FAC096;
  --color-orange-400: #F5964E;
  --color-orange-500: #D67022;
  --color-orange-600: #A35214;
  --color-orange-700: #7A4518;
  --color-orange-800: #573B23;
  --color-orange-900: #3D2F22;
  --color-orange-1000: #2B241D;
  --color-orange-accent: #FF8B33;

  --color-yellow-100: #FFF6E5;
  --color-yellow-200: #FFEECC;
  --color-yellow-300: #FFDD99;
  --color-yellow-400: #FABF5A;
  --color-yellow-500: #E09C24;
  --color-yellow-600: #AC771B;
  --color-yellow-700: #7A581D;
  --color-yellow-800: #574323;
  --color-yellow-900: #403521;
  --color-yellow-1000: #2B261D;
  --color-accent-yellow: #FFB83D;

  --color-green-100: #F2FFF0;
  --color-green-200: #E0FCDE;
  --color-green-300: #B9EDBD;
  --color-green-400: #83DB9C;
  --color-green-500: #47C47D;
  --color-green-600: #379965;
  --color-green-700: #2A7550;
  --color-green-800: #2E5940;
  --color-green-900: #283B2D;
  --color-green-1000: #222923;
  --color-accent-green: #56F09E;

  --color-slate-100: #F2F9FC;
  --color-slate-200: #E1EEF5;
  --color-slate-300: #CCDEE8;
  --color-slate-400: #A9C4D4;
  --color-slate-500: #82A7BA;
  --color-slate-600: #658B9E;
  --color-slate-700: #486878;
  --color-slate-800: #344852;
  --color-slate-900: #283338;
  --color-slate-1000: #1F2426;
  --color-accent-slate: #47C2FF;

  --color-purple-100: #F9F2FF;
  --color-purple-200: #F2E5FF;
  --color-purple-300: #D7BAF5;
  --color-purple-400: #AD82D8;
  --color-purple-500: #9163BF;
  --color-purple-600: #774BA3;
  --color-purple-700: #5D407A;
  --color-purple-800: #48335C;
  --color-purple-900: #31253D;
  --color-purple-1000: #271F2E;
  --color-accent-purple: #C285FF;

  --color-magenta-100: #FFF2F4;
  --color-magenta-200: #FFE5EA;
  --color-magenta-300: #FFC7D3;
  --color-magenta-400: #E5859F;
  --color-magenta-500: #BF5878;
  --color-magenta-600: #A34B6B;
  --color-magenta-700: #863E5C;
  --color-magenta-800: #5E3146;
  --color-magenta-900: #3D2531;
  --color-magenta-1000: #2E2126;
  --color-accent-magenta: #FF5CAA;

  --color-charcoal-100: #F9FAFA;
  --color-charcoal-200: #F1F3F5;
  --color-charcoal-300: #DFE6EB;
  --color-charcoal-400: #C8D3DE;
  --color-charcoal-500: #ABB9C7;
  --color-charcoal-600: #7E8E9E;
  --color-charcoal-700: #556575;
  --color-charcoal-800: #405261;
  --color-charcoal-900: #314351;
  --color-charcoal-1000: #253642;
  --color-charcoal-1100: #1D2B36;
  --color-charcoal-1200: #131B24;

  --color-clay-100: #FAF8F7;
  --color-clay-200: #F5F2F0;
  --color-clay-300: #EDE8E6;
  --color-clay-400: #DED5D1;
  --color-clay-500: #C2B4AC;
  --color-clay-600: #9E8F88;
  --color-clay-700: #8A7B74;
  --color-clay-800: #756963;
  --color-clay-900: #574F4B;
  --color-clay-1000: #4A4441;
  --color-clay-1100: #33302E;
  --color-clay-1200: #262423;

/*
================
Functional Styles
================
*/
  --navBackgroundColor:var(--color-cobalt-800);

  --linkDefault:var(--color-cobalt-600);
  --linkHover:var(--color-cobalt-700);
  --linkPressed:var(--color-cobalt-700);
  --linkDisabled:var(--color-charcoal-500);

  --textHeadline:var(--color-charcoal-1200);
  --textDark:var(--color-charcoal-900); 
  --textDefault:var(--color-charcoal-800); 
  --textLight:var(--color-charcoal-700); 
}
/*
================
Nav
================
*/

#header {
  background: var(--navBackgroundColor) !important; 
}

.nav-main>li>a,.nav-secondary>li>a,
.search-trigger {
  color: var(--color-cobalt-300) !important;
}

.nav-main>li>a.active,
.nav-main>li>a:focus,
.nav-main>li>a:hover,
.nav-secondary>li>a.active,
.nav-secondary>li>a:focus,
.nav-secondary>li>a:hover {
  color: white !important;
}

#header .c-StatusDot {
  box-shadow: var(--navBackgroundColor) 0 0 0 3px !important; 
}

#header .c-Avatar__cropBorder {
  border-color: var(--navBackgroundColor) !important;
}

.c-notification-dropdown__indicator{
  background-color: var(--color-accent-magenta) !important;
  border: 2px solid var(--navBackgroundColor) !important;
}

/*
================
Sidebar
================
*/

.hsds-react .epyycK {
  background: #f1f3f5 !important; /* charcoal-200 */
}

/* list item */
.hsds-react .cZLpuj.is-active,
.hsds-react .cZLpuj.is-active .Itemcss__IconUI-sc-hu4jzx-0,
.hsds-react .cZLpuj.is-active .Itemcss__CountUI-sc-hu4jzx-3 {
  color: var(--color-cobalt-600) !important;
}

/*
================
Buttons
================
*/

.c-Button.is-theme-blue.is-size-lg.is-style-filled {
    --buttonMainColor: var(--color-cobalt-600) !important;
    --buttonBackgroundColor: var(--color-cobalt-600) !important;
    --buttonBackgroundColorHover: var(--color-cobalt-700) !important;
    --buttonBorderColor: var(--color-cobalt-700) !important;
    --buttonBorderColorHover: var(--color-cobalt-600) !important;
}

/*
================
Conversation, text links
================
*/

.hsds-react .ctYLIS a {
  color: #2a55cc !important; /* cobalt-500 */
}